@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "EditHeading";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<br />
<h2>Başlık Düzenle</h2>


@using (Html.BeginForm("EditHeading", "WriterPanel", FormMethod.Post))
{
<div class="form-group">

    @Html.HiddenFor(x => x.HeadingID)
    <br />
    @Html.Label("Başlık")
    @Html.TextAreaFor(x => x.HeadingName, new { @class = "form-control" })
    <br />

    @Html.HiddenFor(x => x.HeadingDate)
    @Html.HiddenFor(x => x.WriterID)
    <br />

    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.categoryName,
                                            new { @class = "form-control" })
    <br />

    <button class="btn btn-warning">Kaydet</button>


</div>}

